<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <h1>Welcome to LHL Learning Objectives!</h1>

  <div class="objective">
    <div class="id"><%= id %></div>
    <div class="question"><%= question %></div>
    <div class="answer"><%= answer %></div>
    <div class="type"><%= type %></div>
  </div>
</body>
</html>