<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <h1>Welcome to LHL Learning Objectives!</h1>

  <table>
    <tr><th>Actions</th><th>ID</th><th>Question</th></tr>
  <% rows.forEach((row) => { %>
    <tr><td><a href="/objectives/<%= row.id %>/delete">[X]</a></td><td><%= row.id %></td><td><%= row.question %></td></tr>
  <% }); %>
  </table>
</body>
</html>